@font-face {
    font-family:"Dosis";
    src: url("misc/fonts/dosis/Dosis-Medium.otf");
}
/*---------------------------HEADER----------------------------*/

* {

    padding: 0;
    margin: 0;
}

a {

    text-decoration: none;
    color: inherit;
}

header{

    background-color: rgb(255, 255, 255);
    height: 32px;
    position: relative;
    padding: 30px;
    align-items: center;
    border-bottom: 3px solid rgba(10, 56, 120, 1); 
    
}

.container{

    display: flex;
    justify-content:space-between;
    padding-inline: 36px;
    position: relative;

}

.logo {

    position: relative;
    text-align: center;
    padding: 10px;
}

.logo img {

    position: relative;
    height: 100px;
    width: 100px; /* nao faco a minima ideia de como a logo ficou como eu queria*/
}

.MyAccount {
    height: 30px;
    border-radius: 50px;
    border: 3px solid rgba(10, 56, 120, 1); 
    background-color: rgb(255, 255, 255);
    padding: 10px 20px; 
    display: flex;
    align-items: center; 
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -12px;
    width: 160px;
    

}

.MyAccount img{

    width: 30px;
    height:30px ;
    display: block;
}


.spanMyAccount {
    text-align: center;
}
/*--------------------------BODY------------------------------*/
body{

    font-family: "Dosis";
    background-color:rgb(255, 255, 255);
}

.divMainText{
    padding-inline: 40px;
    background-color: rgba(246, 246, 246, 1);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px;
}

.containerCard{
    display: flex;
    justify-content: space-around;
    padding-inline: 36px;
    background-color: rgba(246,246,246,1);

}

.divCard {

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px, solid rgba(10, 56, 120, 1);
    height: 552px;
    width: 254px;
    box-shadow: 5px 5px 1px 1px  rgba(10, 56, 120, 1);
    text-align: center;
}

.divCard p, h1 {
    font-size: 20px;
    padding: 10px;
    margin-top: 2px;
}

.containerConteudoCard{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}

.divConteudoCard{

    background-color: aquamarine;
} 

.botaoCard {
    height: 48px;
    width: 152px;
    border-radius: 16px;
    color: white;
    background-color:  rgba(10, 56, 120, 1);
    border: none;
}

.divBotao{
    background-color: blueviolet;
}
/*---------------------------------footer-----------------------------------*/

footer {
    background-color: rgba(10, 56, 120, 1);
    height: 200px;
    margin-top: 30px;
    text-align: center;

}

.containerFooter{

    display: flex;
    justify-content:space-between;
    padding-inline: 16px;

}

.divFooter {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

