
* {
    padding: 0;
    margin: 0;
}

.container{
display: flex;
justify-content: space-between;
}

header{
background-color:rgba(10, 56, 120, 1);
height: 92px;
border-bottom: 3px solid rgba(10, 56, 120, 1); 

}

img {
    height: 100px;
    width: 100px;
    margin-top: 40px; 
    margin-left: 76px;
    
}

.Container {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: blueviolet;
}

.alignCenter {
    
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    
}