.container {
    display: flex;
    flex-direction: row;  
    padding-top: 20px;
    background-color: rgb(219, 162, 91);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareLeft {
    background-color: blue;
    height: 620px;
    width: 50%;
}

.squareRight {
    background-color: red;
    height: 620px;
    width: 50%;
}

.inoutCountainer{
    height: 300px;
    width: 300px;
    background-color: beige;
}